:root {
  --navbar-height: 55px;
  --color-slate: #e2e8f0;
}

* {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hover-bg-light:hover {
  background-color: var(--color-slate) !important;
}

.profile-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
}

i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

.fs-7 {
  font-size: 12px;
}
